.about-page {
  min-height: 100vh;
  background-image: url("/about.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#about-h1{
    display: flex;
    justify-content: center;
}

#about-p{
    display: flex;
    justify-content: center;
   font-family: "Alan Sans", sans-serif;
   font-size: xx-large;
}