.background-home {
  min-height: 100vh;
  background-image: url("/home-background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-h1{
  display: flex;
  justify-content: center;
  font-family: "Alan Sans", sans-serif;
  font-size: 5rem;
  font-optical-sizing: auto;

}

@media screen and (max-width: 1092px) {
  .hero-h1{
    font-size: 2rem
  }
  
}


@media screen and (max-width: 445px) {
  .hero-h1{
    font-size: 1rem
  }
  
}

